# United States Adidas Cohort Analysis

This is my cohort analysis on a [United States Adidas transaction/sales dataset](https://www.kaggle.com/datasets/ahmedabbas757/dataset). This project identifies retailer (customer) retention, churn rate and tracks the net revenue retention by analyzing the number of customers who continue to buy products and the income they earn over time. This project also calculates the Customer Lifetime Value (CLTV), a metric used to estimate the total revenue a customer will generate throughout their relationship with a business

Analyzing data using cohort analysis is an effective method to gain insights into how customer behavior evolves over time. This technique involves categorizing customers into cohorts based on shared characteristics (in this case, acquisition date) and then comparing their behavior using specific metrics. In this project, the metrics we measured are:
1. Retention Rate: The retention rate measures the percentage of users from the initial cohort who remain active after a specific period (e.g., 1 month, 3 months, 1 year). High retention rates indicate a successful product or service that keeps users engaged.
2. Churn Rate: This is the opposite of retention rate and refers to the percentage of users who stop using the product or service within a given timeframe. A low churn rate is desirable as it signifies customer satisfaction and loyalty.
3. Net Revenue Retention: This refers to the total revenue generated from sales minus any returns, discounts, or allowances. Tracking net revenue by cohort allows you to see how different customer groups contribute to your overall revenue stream over time.
4. Customer Lifetime Value (CLTV): CLTV estimates the total revenue a customer is expected to generate throughout their relationship with your business. Analyzing CLTV by cohort helps to understand the long-term value of different customer segments.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Adidas Retail Sales.csv')
df

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Sales Method
0,Walmart,1128299,6/17/2021,Southeast,Florida,Orlando,Women's Apparel,$103.00,218,"2,245","$1,257",Online
1,West Gear,1128299,7/16/2021,South,Louisiana,New Orleans,Women's Apparel,$103.00,163,"1,679",$806,Online
2,Sports Direct,1197831,8/25/2021,South,Alabama,Birmingham,Men's Street Footwear,$10.00,700,"7,000","$3,150",Outlet
3,Sports Direct,1197831,8/27/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,575,"8,625","$3,881",Outlet
4,Sports Direct,1197831,8/21/2021,South,Alabama,Birmingham,Women's Street Footwear,$15.00,475,"7,125","$3,206",Outlet
...,...,...,...,...,...,...,...,...,...,...,...,...
9636,Amazon,1185732,11/18/2021,Northeast,Maine,Portland,Men's Apparel,$65.00,150,"9,750","$2,438",Outlet
9637,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,Women's Athletic Footwear,$65.00,150,"9,750","$2,438",Outlet
9638,Amazon,1185732,10/22/2021,West,Alaska,Anchorage,Men's Apparel,$75.00,150,"11,250","$2,813",Outlet
9639,West Gear,1185732,4/10/2021,Midwest,Indiana,Indianapolis,Men's Apparel,$65.00,150,"9,750","$2,925",In-store
9640,Sports Direct,1185732,10/5/2021,Northeast,Connecticut,Hartford,Men's Apparel,$65.00,150,"9,750","$2,925",In-store

Adidas revenue = total sales - operating profit

In [8]:
for i in df['Retailer ID'].unique():
    if df[df['Retailer ID']==i]['Retailer'].nunique() > 1:
        print(i)
        print(df[df['Retailer ID']==i]['Retailer'].unique())

1128299
['Walmart' 'West Gear' 'Foot Locker' "Kohl's" 'Sports Direct']
1197831
['Sports Direct' 'Walmart' 'West Gear' "Kohl's" 'Foot Locker']
1185732
['West Gear' 'Sports Direct' 'Foot Locker' 'Amazon' 'Walmart' "Kohl's"]